body {
   background-color:rgb(20, 20, 20);
   font-size: 20px;
}

#headerDiv{
   padding: 10px;
   /* background-color: rgb(50, 50, 50);  */
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 80px;
   color: whitesmoke;
   display: flex;
   align-items: center;
}

/* #searchDiv{
   margin-top: 20px;
   height: 40px;
   padding: 30px;   
   background-color: whitesmoke; 
   border-radius: 25px;   
} */


#resultsDiv{
   margin-top: 20px;   
   padding: 30px;            
}

#footerDiv{
   height: 40px;
   padding: 30px;   
   background-color: whitesmoke; 
}

#searchBar{
   color: whitesmoke;
   background-color: black;
   border: 1px solid whitesmoke;
   border-radius: 20px;
   width: 500px;
   font-size: 22px;
   padding: 5px 20px;
   margin-right: 1px;
}

#searchButton{
   cursor: pointer;
   height: 40px;
   width: 40px;
   border: 1px solid whitesmoke;
   border-radius: 20px;
   background-color: black;
   margin: 10px;
}

#searchButton:hover{
   background-color: darkgrey;
}

#searchButton:active{
   border-color: darkgray;
   background-color: darkgray;
}

#searchButton:focus{
   border-width: 3px;
}

#searchIcon{
   fill: whitesmoke;
}